body {
    color: rgb(35, 31, 32);
    background-image: url(../images/bg.png);
    background-position: -45px -45px;
    padding: 10px;
    
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Skranji ,"Liberation Sans Narrow", sans-serif;
    font-variant-caps: small-caps;
  }

.half {
    width:16px;
}

.unit-visible {display: none;}

.unit-talents {   text-align:center;    }



.unit-card {padding:2px}

.unit-titans, .unit-gods, .unit-monsters,.unit-heroes,.unit-troops  {
    /* transition-timing-function: ease-in-out; */
    float:left;
    width:100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px gray;
}



.unit-titans {    background-color: #86b0b5; border: 4px solid #2d5e64; }
.unit-titans .unit-power { background-color: #a1b1b3;}

.unit-gods {
    background-color: #f4c37a;
    border: 4px solid #b68029;
}
.unit-gods .unit-power { background-color: #c3b497;}

.unit-monsters {
    background-color: #b8c686;
    border: 4px solid #7e8c55;
}
.unit-monsters .unit-power { background-color: #adb39d;}

.unit-heroes {
    background-color: #cdcbcb;
    border: 4px solid #514f4e;
}
.unit-heroes .unit-power { background-color: #afaeae;}

.unit-troops {
    background-color: #cdcbcb;
    border: 4px solid #514f4e;
}
.unit-troops .unit-power { background-color: #afaeae;}

.talent {margin: 2px;padding: 2px ;font-size: 2.0vw ; background-color: #b6802936;}
@media (min-width:601px) {
    .talent {font-size: 1.2vw ;}
}
@media (min-width:993px) {
    .talent {font-size: 0.8px ;}
}


.unit-img {width:100%}


.unit-act { padding-left : 6px;bottom: 5px; }
.unit-act img {width:28px;}
.unit-aow { padding-right : 6px; }
.unit-aow img { height:17px}
.unit-vitality { left: 10px;  bottom: 10px;}
.unit-vitality img { height: 4vh;}

.unit-box {
    background-color: #000000;
    color:#ffffff;
    width : 20%;
    text-align: center;
    font-size: 1.5vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.display-class-0 {position:absolute;right:2px;top:4px;width:18%;}
.display-class-1 {position:absolute;right:25px;top:4px;width:18%;}

.unit-car { position: relative!important; }
.unit-car img {width:100%;height:100%}


.display-car {position:absolute;bottom:7px;color:aliceblue;width: 20px; text-align: center;font-size: 4vw;}
.unit-troops .display-car{ top: 11.5vw;}
.unit-off { left: 10%;}
.unit-troops .unit-off { left: 6.5vw;}
.unit-def { left:25.5%;}
.unit-troops .unit-def { left:31%;}
.unit-ran { left:38.5%;}
.unit-troops .unit-ran { left:49.5%;}
.unit-mov { left:52%;}
.unit-troops .unit-mov { left:67%;}
.unit-pow { left:66%;}
.unit-vit { left:86%;}


@media (min-width:601px) { 
    .display-car {top:4vw;font-size: 2.4vw}
    .unit-troops .display-car{ top: 6vw;}
    .unit-off { left: 8.5%;}
    .unit-troops .unit-off { left: 11.5%;}
    .unit-def { left:22.5%;}
    .unit-troops .unit-def { left:29.5%;}
    .unit-ran { left:37.5%;}
    .unit-troops .unit-ran { left:47.5%;}
    .unit-mov { left:52%}   
    .unit-troops .unit-mov { left:66%}   
    .unit-pow { left:66%;}
    .unit-vit { left:84%;}
}
@media (min-width:993px) {
    .display-car {top:2.7vw;font-size: 1.6vw}
    .unit-troops .display-car{ top: 4vw;}
    .unit-off { left: 9%;}
    .unit-troops .unit-off { left: 12%;}
    .unit-def { left:22.5%;}
    .unit-troops .unit-def { left: 30%;}
    .unit-ran { left:37%;}
    .unit-troops .unit-ran { left:48%;}
    .unit-mov { left:52%}   
    .unit-troops .unit-mov { left:65%}   
    .unit-pow { left:66%;}
    .unit-vit { left:84%;}
}


/* .bar .bar-item{padding:4px 2px;float:left;width:100%;border:none;display:block;outline:0} */

.unit-powers {
    /* margin-left: 8px;margin-right: 8px;margin-top: 5px;;
    padding-left: 2px;
     */
}


.unit-power {
    margin: 2px;  padding: 2px 4px;  
    position: relative;   
}

.unit-power span {padding-left: 4px;position: absolute;line-height: 2.5vw;top: auto;}
span.power-name {font-size: 3.8vw;}
span.power-name-large {font-size: 3.2vw;line-height: 1.8vw;}
.unit-power-type { width:3.6vw}
@media (min-width:601px) { 
    span.power-name {padding-left: 4px;font-size: 1.8vw;}
    span.power-name-large {padding-left: 4px;font-size: 1.4vw;}
    .unit-power-type { width:2vw;}
}   
@media (min-width:993px) {
    span.power-name {padding-left: 4px;font-size: 1.2vw;}
    span.power-name-large {padding-left: 4px;font-size: 0.9vw;}
    .unit-power-type { width:1.5vw;}
}

.unit-power-aow {top : -2px; width: 8px;right : 2px;position : absolute}

.unit-row:after,.unit-row:before {content:"";display:table;clear:both}
.unit-col {float:left;width:100%}


.unit-name { padding-right: 4px; padding-left: 4px;}
.unit-name img {width:100%;}


.unit-name span {position:absolute;color:white;}
.unit-name span.name {font-size:4.3vw;left: 21%;top:6%}
.unit-name span.name_large {font-size:3.5vw;left: 21%;top:8%}
.unit-name span.rp {left:9%;top:5%;font-size:4.3vw}
@media (min-width:601px) { 
        .unit-name span.name {left: 23%;font-size:2.2vw;top:3.7%;}
        .unit-name span.name_large {font-size:1.8vw;top:4.2%;}
        .unit-name span.rp {left:8.5%;top:4.2%;font-size:2.2vw}
    }
@media (min-width:993px) {
        .unit-name span.name {font-size:1.5vw;top:4.5%;}
        .unit-name span.name_large {font-size:1.2vw;top:5.5%;}
        .unit-name span.rp {font-size:1.5vw;top:4.5%;}
     }

.unit-troopname {
    position: absolute;
    top: 1vw;
   width : 100%;
   text-align : center;
   color : #fca254;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

