body {
    color: rgb(35, 31, 32);
    background-image: url(../images/bg.png);
    background-position: -45px -45px;
    padding: 10px;
    
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Skranji ,"Liberation Sans Narrow", sans-serif;
    font-variant-caps: small-caps;
  }

.half {
    width:16px;
}

.unit-talents {   text-align:center;    }
.talent {margin: 2px;padding: 2px ;font-size: 10px ;}

.unit-titans {
    background-color: #86b0b5;
    border: 4px solid #2d5e64;
}
.unit-titans .unit-power { background-color: #a1b1b3;}

.unit-gods {
    background-color: #f4c37a;
    border: 4px solid #b68029;
}
.unit-gods .unit-power { background-color: #c3b497;}

.unit-monsters {
    background-color: #b8c686;
    border: 4px solid #7e8c55;
}
.unit-monsters .unit-power { background-color: #adb39d;}

.unit-heroes {
    background-color: #cdcbcb;
    border: 4px solid #514f4e;
}
.unit-heroes .unit-power { background-color: #afaeae;}

.unit-img {width:100%}


.unit-act { padding-left : 6px; }
.unit-act img {width:28px;}
.unit-aow { padding-right : 6px; }
.unit-aow img { height:17px}



.display-class-0 {position:absolute;right:25px;top:4px;width:18%}
.display-class-1 {position:absolute;right:2px;top:4px;width:18%}

.unit-car { position: relative!important; }
.unit-car img {width:100%;height:100%}


.display-car {position:absolute;bottom:7px;color:aliceblue;width: 20px; text-align: center;font-size: 4vw;}
.unit-off { left: 10%;}
.unit-def { left:25.5%;}
.unit-ran { left:38.5%;}
.unit-mov { left:52%;}
.unit-pow { left:66%;}
.unit-vit { left:86%;}
@media (min-width:601px) { 
    .display-car {top:4vw;font-size: 2.4vw}
    .unit-off { left: 9.5%;}
    .unit-def { left:22.5%;}
    .unit-ran { left:37.5%;}
    .unit-mov { left:52%}   
    .unit-pow { left:66%;}
    .unit-vit { left:84%;}
}
@media (min-width:993px) {
    .display-car {top:2.7vw;font-size: 1.6vw}
    .unit-off { left: 9%;}
    .unit-def { left:22.5%;}
    .unit-ran { left:37%;}
    .unit-mov { left:52%}   
    .unit-pow { left:66%;}
    .unit-vit { left:84%;}
}


/* .bar .bar-item{padding:4px 2px;float:left;width:100%;border:none;display:block;outline:0} */

.unit-powers {
    margin-left: 8px;margin-right: 8px;
    padding: 4px 0px;
}


.unit-power {
    margin: 2px 0px;
    padding: 0px 4px;
    font-size: 12px;   
}
.unit-power span {padding-left: 4px}
.unit-power-type { width:14px;}
.unit-power-aow {text-align: left; float: right; width: 8px;}

.unit-row:after,.unit-row:before {content:"";display:table;clear:both}
.unit-col {float:left;width:100%}


.unit-name { padding-right: 4px; padding-left: 4px;}
.unit-name img {width:100%;}

.unit-name span {position:absolute;color:white;}
.unit-name span.name {font-size:4.3vw;left: 21%;top:6%}
.unit-name span.name_large {font-size:3.5vw;left: 21%;top:8%}
.unit-name span.rp {left:8%;top:6%;font-size:4.3vw}
@media (min-width:601px) { 
        .unit-name span.name {left: 23%;font-size:2.2vw;top:3.7%;}
        .unit-name span.name_large {font-size:1.8vw;top:4.2%;}
        .unit-name span.rp {left:8.5%;top:4.2%;font-size:2.2vw}
    }
@media (min-width:993px) {
        .unit-name span.name {font-size:1.5vw;top:4.5%;}
        .unit-name span.name_large {font-size:1.2vw;top:5.5%;}
        .unit-name span.rp {font-size:1.5vw;top:4.5%;}
     };